
/*Cambios en tipo de fuente*/
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Cambios en Articulos y producto favorito*/
.Clothes-Articles__Card{
    border: 1px solid black;
    padding: 20px;
    display: flex;
    gap: 20%;
    flex-wrap: wrap;
    margin: 20px;
}


.Clothes-Articles__image{
    width: 400px;
    border-radius: 5%;
    
}
.Clothes-Articles__texts-position{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.text-trending,.text-favorite{
    font-size: 30px;
    
}

.Clothes-Articles__title,
.Favorite-Product__title{
        font-size: 30px;
}
.Clothes-Articles__rating,
.Favorite-Product__rating{
    font-size: 20px;
}
.Clothes-Articles__price,
.Favorite-Product__price{
    font-size: 18px;
    font-style: oblique;
}
.Favorite-Product__price:hover{
    color:rgb(235, 235, 0);
}

.Clothes-Articles__price:hover{
    color:rgb(235, 235, 0);
}

.Favorite-Product__card{
    display:flex;
    flex-wrap: wrap;
    gap: 20%;
}
.Favorite-Product__image{
    width: 400px;
    border-radius: 5%;
}
.Favorite-Product__text-position{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

/*Cambios en el navegador del footer y principal*/
.navigation,.footer-navigation{
    
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, rgb(244, 244, 248), purple);
    padding: 20px;
    
}
.navigation__link,.footer-navigation__link:hover{
    font-size: 20px;
    
}

.footer-navigation__text:hover{
    font-size: 20px;
    color: rgb(255, 150, 150);
}

/*Cambios en palabra del dia*/
.todays-phrase{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.todays-phrase__text:hover{
    color: rgb(211, 3, 3);
    font-size: 150%;
}